<% @user.reviews.each do |review| %>
  <p>Review for <%= link_to "#{review.restaurant.name}", restaurant_path(review.restaurant) %></p>
  <p><%= review.rating %>/5</p>
  <p><%= review.comment %></p>
  <p>reviewed on <%= review.created_at%></p>

  <%= link_to "Edit Review", edit_restaurant_review_path(review.restaurant, review) %> |
  <%= link_to "Delete", restaurant_review_path(review.restaurant, review), method: :delete, data: { confirm: "Are you sure you wish to delete this review?" } %>

<% end %>
