<h2>Your SeatYourself Profile</h2>

<p>
  <ul>
    <li>Username: <%= @user.username %></li>
    <li>email: <%= @user.email %></li>
  </ul>
</p>

<%= link_to "Create a Restaurant", new_restaurant_path %>

<% if current_user == @user %>
  <h4>Your Reservations:</h4>

  <% @user.reservations.each do |reserv| %>
    <ul>
      <li>
        Place: <%= reserv.restaurant.name %><br>
        Time: <%= reserv.date_time %><br>
        Party Size: <%= reserv.party_size %><br>
        <%= link_to "Edit", edit_restaurant_reservation_path(reserv.restaurant, reserv) %><br>
        link_to Delete
      </li>

    </ul>
  <% end %>
  <h4> Your Restaurants' Reservations </h4>
  <ul>
    <% @user.owned_restaurants.each do |restaurant| %>
      <li>
        <%= restaurant.name %>
      </li>
      <ul>
      <% restaurant.reservations.each do |reservation| %>
      <li>
        <%= reservation.date_time %><br>
        <%= reservation.party_size %><br>
      </li>
    <% end %>
    </ul>
  <% end %>
  </ul>
<% end %>

<h2>Your Reviews:</h2>
<%= render "display_reviews" %>
