<h1>Make a Reservation</h1>

<!-- <div class="reserve-info">
  <p><%#= @restaurant.name %><br>
    <%#= @restaurant.address %><br>
    <%#= @restaurant.phone %>
  </p>
</div> -->

<%= form_for ([@restaurant, @reservation]) do |f| %>
  <div class="field">
    <%= f.label :date_time, "Date & Time" %><br>
    <%= f.datetime_local_field :date_time %>
  </div>
  <div class="field">
    <%= f.label :party_size, "Number of Guests" %><br>
    <%= f.number_field :party_size %>
  </div>
  <div class="actions">
    <%= f.submit "Save Reservation" %>
  </div>
<% end %>
