<% if current_user %>
  <%= form_for ([@restaurant, @review]) do |f| %>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>

    <div class="field">
      <p>Rating</p>
      <%= f.label :rating, "1" %>
      <%= f.radio_button(:rating, 1) %>
      <%= f.label :rating, "2" %>
      <%= f.radio_button(:rating, 2) %>
      <%= f.label :rating, "3" %>
      <%= f.radio_button(:rating, 3) %>
      <%= f.label :rating, "4" %>
      <%= f.radio_button(:rating, 4) %>
      <%= f.label :rating, "5" %>
      <%= f.radio_button(:rating, 5) %>
    </div>

    <div class="actions">
      <%= f.submit "Add Review" %>
    </div>

  <% end %>
<% end %>
