<% @restaurant.reviews.each do |review| %>
  <p><%= review.rating %>/5</p>
  <p><%= review.comment %></p>
  <% if review.user != nil %>
    <p>reviewed by <%= link_to "#{review.user.username}", user_path(review.user) %> on <%= review.created_at%></p>
  <% end %>
  <% if review.user == current_user %>
    <p><%= link_to "Edit", edit_restaurant_review_path(@restaurant, review) %> |
      <%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete, data: { confirm: "Are you sure you wish to delete this review?" } %></p>
  <% end %>
<% end %>
