<%= image_tag(@restaurant.photo_url) %>

<h1><%= @restaurant.name %></h1>

<% if current_user %>
  <%= link_to "Reserve!", new_restaurant_reservation_path(@restaurant) %>
<% end %>

<% if current_user == @restaurant.owner %>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
<% end %>

<div class="contact">
  <p>
    <%= @restaurant.address %><br>
    <%= @restaurant.phone %><br>
    <%= link_to "Website", @restaurant.url %>
  </p>
</div>

<div class="reviews">

  <%= render "create_review" %>

  <%= render "display_reviews" %>

</div>


<div class="tags">

  <%= render "assign_tag_form" %>

  <%= render "new_tag_form", restaurant_id: @restaurant.id %>

</div>
