<%= image_tag(@restaurant.photo_url) %>

<h1><%= @restaurant.name %></h1>

<%= link_to "Reserve!", new_restaurant_reservation_path(@restaurant) %> | <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>

<div class="contact">
  <p>
    <%= @restaurant.address %><br>
    <%= @restaurant.phone %><br>
    <%= link_to "Website", @restaurant.url %>
  </p>
</div>
