<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container-fluid">
  <body>
    <header>

      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">

            <%= link_to "SeatYourself", root_path, class: "navbar-brand" %>

            <p class= "navbar-text">
              <% if current_user %>
                Signed in as <%= link_to current_user.username, user_path(current_user) %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
              <% else %>
                <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
              <% end %>
            </p>

          </div>
        </div>
      </nav>

    </header>

    <div class="notices">
      <% if flash[:notice] %>
        <p id ="notice"><%= flash[:notice] %></p>
      <% end %>
    </div>
    <div class="flashes">
      <% if flash[:alert] %>
        <p id= "alert"><%= flash[:alert] %></p>
      <% end %>
    </div>

    <%= yield %>

  </body>
</div>
</html>
